*~
/run1/oixrun
/run1/oixrun.exe
/run1/oixrun0
/run1/oixrun0.exe
/run1/w.exe
/run1/wcfd32dos.exe
/run1/wcfd32dosp.exe
/run1/wcfd32linux
/run1/wcfd32linux.bin
/run1/wcfd32stub
/run1/wcfd32stub.bin
/run1/wcfd32win32.exe
/wasm*.exe
/wlib*.exe
/wcfd32dos.exe
/wcfd32dos.obj
/wcfd32dosp.exe
/wcfd32import.lnk
/wcfd32stub
/wcfd32stub.bin
/wcfd32win32.exe
/wcfd32win32.obj
/wcfd32linux
/hello
/hello.exe
*.oix
*.o
*.obj
/osi4/*.rex
/osi5/*.elf
/oixrun
/oixrun.exe
/oixrun0
/oixrun0.exe
/cf/cstrtosi.o
/cf/example.exe
/cf/example.o
/cf/example.rex
/cf/struct.inc
/cf/w32bind
/cf/w32bind.exe
/cf/w32bind.o
/osi/rex2oix
