*~
/run[0-9]/oixrun
/run[0-9]/oixrun.exe
/run[0-9]/oixrun0
/run[0-9]/oixrun0.exe
/run[0-9]/w.exe
/run[0-9]/wcfd32dos.exe
/run[0-9]/wcfd32dosp.exe
/run[0-9]/wcfd32linux
/run[0-9]/wcfd32linux.bin
/run[0-9]/wcfd32linuxelf.bin
/run[0-9]/wcfd32linuxepl.bin
/run[0-9]/wcfd32stub
/run[0-9]/wcfd32stub.bin
/run[0-9]/wcfd32win32.exe
/run[0-9]/m.nas
/run[0-9]/m0.bin
/run[0-9]/m.bin
/run[0-9]/t0.bin
/run[0-9]/t.bin
/poix/m.nas
/poix/oixrun
/poix/oixrun.exe
/poix/oixrun.darwinc32
/poix/t.bin
/poix/t0.bin
/poix/tramp.inline.h
/poix/tramp.bin
/poix/tramp.h
/poix/test_poix1.o
/poix/test_poix1.exe
/wasm*.exe
/wlib*.exe
/wcfd32dos.exe
/wcfd32dos.obj
/wcfd32dosp.exe
/wcfd32import.lnk
/wcfd32stub
/wcfd32stub.bin
/wcfd32win32.exe
/wcfd32win32.obj
/wcfd32linux
*.oix
*.o
*.obj
/osi4/*.rex
/osi5/*.elf
/oixrun
/oixrun.exe
/oixrun0
/oixrun0.exe
/cf/cstrtosi.o
/cf/example.exe
/cf/example.o
/cf/example.rex
/cf/struct.inc
/cf/w32bind
/cf/w32bind.exe
/cf/w32bind.o
/osi/rex2oix
/asm_demo/*.oix
/asm_demo/*.exe
/asm_demo/answer42
/asm_demo/hello
/asm_demo/example
/asm_demo/talk
